.mail-popup-container {
  border: 0.5px solid var(--default-theme-color-bg);
  border-radius: 0.5rem;
  color: var(--default-theme-color-dark);
  font-size: large;
  box-shadow: 0.1rem 0.1rem 1rem var(--default-theme-color-bg);
  width: 35rem;
  background-color: white;
  z-index: 1;

  input {
    border: none;
    width: -webkit-fill-available;
  }
  input:focus {
    outline: none;
  }

  .heading {
    font-weight: bold;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: var(--default-theme-color-dark);
    color: var(--default-theme-color-font-light);

    .popup-close-button {
      font-weight: normal;
      border-radius: 50%;
      float: right;
      cursor: pointer;
    }
  }

  .content {
    textarea {
      resize: none;
      height: 200px;
      border: none;
      width: -webkit-fill-available;
    }
    textarea:focus {
      outline: none;
    }
  }

  .footer {
    background-color: var(--default-theme-color-bg);
    border-radius: 0 0 0.5rem 0.5rem;
    text-align: right;

    .send-button {
      border: none;
      cursor: pointer;
      border-radius: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      background-color: var(--default-theme-color-dark);
      color: var(--default-theme-color-font-light);

      .send-icon {
        max-width: 1rem;
        max-height: 1rem;
        fill: white;
      }
    }
  }

  .recipients-suggestions {
    background-color: var(--default-theme-color-bg-block);
    padding: 0.25rem;
    border-radius: 0.5rem;
    position: absolute;

    .mail-suggestion-line {
      padding: 0.1rem;
      cursor: pointer;

      .mail-suggestion-span {
        font-size: small;
        font-style: italic;
        color: var(--default-theme-color-dark);
      }

      hr {
        margin: auto;
        color: var(--default-theme-color-bg);
        background-color: var(--default-theme-color-bg);
      }
    }
  }
}
