<div class="row mail-container">
  <div class="col block-mail-line">
    <app-mail-line
      *ngFor="let mail of mails"
      [mail]="mail"
      (open)="openMailContent($event)"
    />
  </div>
  <div
    class="col block-mail-content"
    *ngIf="selectedMail; else blank_mail_content"
  >
    <app-mail-opened [mail]="selectedMail" />
  </div>
  <ng-template #blank_mail_content>
    <div class="block-mail-content">
      <img src="./assets/images/logo.png" alt="Logo Image" />
      <div class="blank-mail-content-text">Click on a mail to view message</div>
    </div>
  </ng-template>

  <div class="mail-compose-button" (click)="spawnMailComposePopup()">
    <app-mail-compose-button />
  </div>

  <div class="mail-compose-popup">
    <app-mail-componse-popup
      [popupId]="popupId"
      (close)="removeMailComposePopup($event)"
      (sendMailEmitter)="composeNewEmail($event)"
      *ngFor="let popupId of spawnedDrafts"
    />
  </div>
</div>
