<div class="row mail-container">
  <div class="col block-mail-line">
    <app-mail-line (open)="openMailContent($event)" />
    <app-mail-line (open)="openMailContent($event)" />
    <app-mail-line (open)="openMailContent($event)" />
    <app-mail-line (open)="openMailContent($event)" />
    <app-mail-line (open)="openMailContent($event)" />
    <app-mail-line (open)="openMailContent($event)" />
    <app-mail-line (open)="openMailContent($event)" />
    <app-mail-line (open)="openMailContent($event)" />
    <app-mail-line (open)="openMailContent($event)" />
    <app-mail-line (open)="openMailContent($event)" />
    <app-mail-line (open)="openMailContent($event)" />
    <app-mail-line (open)="openMailContent($event)" />
  </div>
  <div class="col block-mail-content"></div>
</div>
