.mail-container {
  margin: 0 5rem;
  border: 3px solid #aaa;
  border-radius: 1rem 1rem 0 0;
  height: 100%;
}

.block-mail-line {
  min-width: 30%;
  max-width: 30%;
  border-right: 0.5px solid #aaa;
  overflow-y: scroll;
}
.block-mail-content {
  padding: 2rem;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
