.mail-container {
  margin: 0 5rem;
  border: 3px solid var(--default-theme-color-dark);
  border-radius: 1rem 1rem 0 0;
  height: 100%;
}

.block-mail-line {
  min-width: 30%;
  max-width: 30%;
  border-right: 0.5px solid var(--default-theme-color);
  overflow-y: scroll;
}
.block-mail-content {
  padding: 2rem;
  width: 100%;
}
.block-mail-content {
  img {
    opacity: 0.1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  .blank-mail-content-text {
    font-family: sans-serif;
    font-size: 2rem;
    text-align: center;
    opacity: 0.4;
    font-weight: 600;
    color: var(--default-theme-color);
  }
}

.mail-compose-button {
  position: absolute;
  bottom: 3rem;
  right: 6rem;
}
.mail-compose-popup {
  position: absolute;
  bottom: 3rem;
  right: 12rem;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--default-theme-color-light);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--default-theme-color);
}
