:root {
  --default-theme-color: rgb(0, 27, 206);
  --default-theme-color-bg: rgba(0, 27, 206, 0.1);
  --default-theme-color-light: rgb(0, 27, 206, 0.5);
  --default-theme-color-dark: rgb(0, 17, 130);
}
