<div class="mail-popup-container font-ss">
  <div class="heading border-bottom pad-05">New Mail</div>
  <div class="container">
    <div class="subject border-bottom pad-05">
      <input type="text" placeholder="Subject" class="font-m" />
    </div>
    <div class="recipients border-bottom pad-05">
      <input type="text" placeholder="Recipients" class="font-m" />
    </div>
    <div class="content pad-05">
      <textarea
        type="text"
        placeholder="Compose your email"
        class="font-m font-ss"
      ></textarea>
    </div>
  </div>
</div>
