.mail-item {
  height: 3.5rem;
  padding: 0.6rem;
  font-family: sans-serif;
}
.mail-item:hover {
  background-color: #eee;
}
.mail-subject {
  display: block;
  font-size: 1.1rem;
}
.mail-sender {
  font-size: 0.8rem;
  padding-top: 0.4rem;
  display: block;
  font-style: italic;
}
